.button {
    display: inline-flex;
    @include font-size(8, mobile, true, false, true);
    @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(8, desktop, true, false, true);
        }
    }
    @include font-weight(semibold);
    line-height: 24px;
    text-decoration: none !important;
	text-transform: uppercase;
    background-color: lighten($red, 5%);
    color: $white !important;
    border-style: solid;
    border-color: $white;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 12px 24px;
    text-align: center;
    white-space: nowrap;

	&:hover {
		background: lighten($red, 10%);
	}

    &:active {
        outline: 0;
    }

    &::before {
        border-radius: 2px;
    }
}

.button-sm {
    padding: 8px 24px;
	height: 32px;
}


.button-block {
    display: flex;
}

.button-block {
    display: flex;
	width: 100%;
}

@include media( '<=medium' ) {

	.button-wide-mobile {
		width: 100%;
		max-width: 280px;
    }
}

.app-store-button {
    display: inline-flex;
    img {
        height: 50px;
        width: auto;
    }
}