.supporters {
    width: 100%;
    display: block;
    align-items: center;
    p {
        width: 100%;
        display: block;
        text-align: center;
    }
    img {
        width: 70%;
        min-width: 200px;
        max-width: 600px;
        height: auto;
        display: block;
        margin: auto;
    }
}
