html {
	font-size: $base_font_size-sm;
	@include media (">=phone") {
		font-size: $base_font_size-md;
	}
	@include media (">=tablet") {
		font-size: $base_font_size-lg;
	}
	@include media (">=desktop") {
		font-size: $base_font_size-xl;
	}
}


body {
	color: $white;
	font-size: 1rem;
	line-height: 1.5em;
}

a:hover {
	text-decoration: none;
}

body,
a,
.button,
button,
input,
select,
textarea {
	font-family: $base_font_family, sans-serif;
}

h1, h2, .h1, .h2, h3, .h3 {
	font-family: 'milkie_wylkieregular', 'sans-serif';
	line-height: 0.9em;
}

h1 {
	@include media ("<=phone") {
		font-size: 18vw !important;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	clear: both;
	color: $white;
	font-weight: $semibold_weight
}

h1,
.h1 {
	font-size: 4.0rem;
}

h2,
.h2 {
	font-size: 3.0rem;
}

h3,
.h3 {
	font-size: 2.6rem
}

h4,
.h4 {
	font-size: 2.2rem;
}

h5,
.h5 {
	font-size: 1.8rem;
}

h6,
.h6 {
	font-size: 1.6rem;
}

p {
	padding-top: .7rem;
	padding-bottom: .7rem;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	font-style: italic;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
	font-size: 1.5rem;
	line-height: 1.5em;
	padding-top: .7rem;
	padding-bottom: .7rem;

	p {
		display: inline;
	}
}

b,
strong {
	font-weight: $semibold_weight
}

ul {
	list-style:none;
	list-style-type:none;
}

footer {
	font-size: 0.7rem;
	line-height: 1em;
}