@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind-Regular.woff2') format('woff2'),
       url('fonts/Hind-Regular.woff') format('woff'),
       url('fonts/Hind-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind-Medium.woff2') format('woff2'),
       url('fonts/Hind-Medium.woff') format('woff'),
       url('fonts/Hind-Medium.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'FredokaOne';
  src: url('fonts/FredokaOne-Regular.woff2') format('woff2'),
       url('fonts/FredokaOne-Regular.woff') format('woff'),
       url('fonts/FredokaOne-Regular.ttf') format('truetype');
  font-weight: bold;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

html {
  position: relative;
  min-height: 100%;
}

h2 {
  display: inline-block;
  font-family: 'FredokaOne', sans-serif;
}

html, body {

  font-family: 'Hind', sans-serif;
  color:#4E4D4F;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

.header {
  background: rgb(90,185,234);
  background: linear-gradient(90deg, rgba(90,185,234,1) 0%, rgba(136,96,208,1) 51%, rgba(86,128,233,1) 100%);
  padding: 0;
  height: 5rem;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
}

.header-text {
  vertical-align: middle;
  font-family: 'FredokaOne', sans-serif;
  left: 4.5rem;
  position: fixed;
  font-size: 9vw;
  height: 5rem;
  font-weight: bold;
  line-height: 5rem;
  width: auto;
  color: white;
}

.contents {
  margin: 7rem 1rem 4.5rem 1rem;
}

.footer {
  background: rgb(90,185,234);
  background: linear-gradient(90deg, rgba(90,185,234,1) 0%, rgba(136,96,208,1) 51%, rgba(86,128,233,1) 100%);
  padding: 0;
  text-align: center;
  color: white;
  height: 3rem;
  width: 100vw;
  z-index: 1;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  line-height: 3rem;
  margin: 0;
  font-size: 5vw;
  position: absolute;
}

img {
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  animation-name: fadein;
  animation-duration: 3s;
}

.image {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.text {
  width: 100%;
}

.imagetext p {
  margin: 0;
}

@media only screen and (min-width: 1100px) {
  .contents {
    margin: 7.5rem 10vw 4.5rem 10vw;
  }
  .imagetext p {
    font-size: 1.8vw !important;
  }
  .image {
    margin: 0 2rem 0 0 !important;
  }
}


@media only screen and (min-width: 650px) {
  .image {
    float: left;
    margin: 0 5% 0 0;
    display: flex;
    object-fit: contain;
    width: 20%;
  }
  .text {
    display: flex;
    width: 75%;
    align-self: flex-start;
  }
  img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .imagetext p {
    display: inline;
    font-size: 2.2vw;
  }
  .imagetext {
    display: table-row;
    width: 100%;
  }
  .contents {
    border-spacing: 2rem;
    display: table;
  }
}

@media only screen and (min-width: 400px) {
  .footer {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 290px) {
  .header-text {
    font-size: 2.2rem;
  }
}

.nav {
  transition: left 0.5s ease;
  background: rgb(90,185,234);
  background: linear-gradient(180deg, rgba(90,185,234,1) 0%, rgba(136,96,208,1) 51%, rgba(86,128,233,1) 100%);
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100%;
  left: -19rem;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 15rem;
  z-index: 2;
}

.nav.expanded {
  left: 0;
}

.nav ul {
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 1rem;
  position: fixed;
  top: 1.5rem;
  width: 2.5rem;
  z-index: 3;
}

.nav-toggle:hover {
  opacity: 0.8;
}

a {
  color: white;
  font-family: 'FredokaOne', sans-serif;
}

.nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::after, .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 0.4rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  transform: rotate(-45deg);
}

