@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind-Light.woff2') format('woff2'),
       url('fonts/Hind-Light.woff') format('woff'),
       url('fonts/Hind-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind-Medium.woff2') format('woff2'),
       url('fonts/Hind-Medium.woff') format('woff'),
       url('fonts/Hind-Medium.ttf') format('truetype');
  font-weight: bold;
}


html {
  position: relative;
  min-height: 100%;
}

h2 {
  background: linear-gradient(119deg, rgba(174, 205, 203, 1) 0%, rgba(255, 255, 255, 1) 100%);
  display: inline-block;
  border-radius: 0 2rem 2rem 0;
  border-width: 0 1rem 0 0;
  border-color: white;
  border-style: solid;
}

html, body {
  background: rgba(174, 205, 203, 1);
  font-family: 'Hind', sans-serif;
  color: #417471;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2rem;
}

.header {
  background: linear-gradient(119deg, rgba(174, 205, 203, 1) 0%, rgba(255, 255, 255, 1) 100%);
  padding: 0;
  color: #417471;
  height: 5rem;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
}

.header-text {
  vertical-align: middle;
  left: 4.5rem;
  position: fixed;
  font-size: 9vw;
  height: 5rem;
  font-weight: bold;
  line-height: 5rem;
  width: auto;
}

.contents {
  margin-top: 6rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  background: linear-gradient(119deg, rgba(174, 205, 203, 1) 0%, rgba(255, 255, 255, 1) 100%);
  padding: 0;
  text-align: center;
  color: #417471;
  height: 3rem;
  width: 100vw;
  z-index: 1;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  line-height: 3rem;
  margin: 0;
  font-size: 5vw;
  position: absolute;
}

img {
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
}

@media only screen and (min-width: 600px) {
  img {
    width: 18%;
    height: auto;
    float: left;
    margin: 0 1rem 1rem 0;
  }
  .imagetext p {
    display: inline;
    font-size: 2.2vw;
  }
  .imagetext {
    display: table-row;
  }
}

@media only screen and (min-width: 400px) {
  .footer {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 280px) {
  .header-text {
    font-size: 1.5rem;
  }
}

.nav {
  transition: left 0.5s ease;
  background: #417471;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100%;
  left: -19rem;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 15rem;
  z-index: 2;
}

.nav.expanded {
  left: 0;
}

.nav ul {
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 1rem;
  position: fixed;
  top: 1.5rem;
  width: 2.5rem;
  z-index: 3;
  border-radius: 0.4rem;
}

.nav-toggle:hover {
  opacity: 0.8;
}

a {
  color: white;
}

.nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::after, .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 0.4rem;
  width: 100%;
  border-radius: 0.4rem;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  transform: rotate(-45deg);
}

