
@mixin shadow {
	box-shadow: 0 24px 48px $black, .24;
	mix-blend-mode: multiply;
}

@mixin shadow-sm {
	box-shadow: 0 16px 24px $black, .24;
	mix-blend-mode: multiply;
}

@mixin divider-mix {
	display: block;
	height: 2px;
	background: $yellow;
}

@mixin divider($type: false) {
	@if ( $type == 'before' ) {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@include divider-mix;
		}
	} @else if ($type == 'after') {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			@include divider-mix;
		}
	} @else {
		@include divider-mix;
	}
}
