// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------

$white:  #FFFFFF;
$black: #000000;
$red: #ED4537;
$pink:  #E38BA3;
$aqua: #95DEC2;
$yellow:  #FEE459;

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------

@font-face {
	font-display: fallback;
	font-family: 'milkie_wylkieregular';
	src: 
		url('../fonts/milkiewylkie-webfont.woff') format('woff'), 
		url('../fonts/milkiewylkie-webfont.woff2') format('woff2');
}

$base_font_family: "IBM Plex Sans";

$base_font_size-sm: 13px;
$base_font_size-md: 15px;
$base_font_size-lg: 17px;
$base_font_size-xl: 18px;


$content_padding-sm: 16px;
$content_padding-lg: 24px;


$container__width: 1080px;
$container__width-sm: 800px;

$regular_weight: 400;
$medium_weight: 500;
$semibold_weight: 600;
$bold_weight: 700;
