.cta {
	text-align: center;

	.section-inner {
		padding: 48px 16px;
	}

	.section-title {
		margin-bottom: 40px;
	}

	h3 {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	ul {
		
		li {
			padding: 0;
			&:nth-child(2) {
				padding: 10px 0 0 0;
			}
			margin: 0;
		}
	}
	
}

.cta-inner {
	position: relative;
	background: color(bg, 1);
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		right: 98px;
		top: -117px;
		width: 160px;
		height: 187px;
	}

	> * {
		position: relative; /* To display elements above hero illustrations */
	}
}

@include media( '>medium') {

	.cta {
		text-align: center;
		display: block;

		.section-inner {
			padding: 48px 32px;
		}

	}

}
