.features-wrap {
    p, h1, h2, h3, h4, a {
        color: $black;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: -32px;
    margin-left: -32px;

    &:first-of-type {
        margin-top: -16px;
    }

    &:last-of-type {
        margin-bottom: -16px;
    }
}

.features-title {
    padding: 30px 0 30px 0;
    text-align: center;
    margin: 0;
}

.feature {
    padding: 16px 32px;
    width: 380px;
    max-width: 380px;
    flex-grow: 1;

    img {
        height: 140px;
        width: auto;
    }
}

.feature-inner {
    border-style: solid;
    border-width: 5px;
    border-color: $yellow;
    background-color: $white;
    border-radius: 5px;
    padding: 1em;
    height: 100%;
}

.feature-icon {
	display: flex;
    justify-content: center;
}

.find-me-a-loo {
    width: 100%;
    display: block;
    img {
        width: 70%;
        margin: auto;
        max-width: 200px;
        height: auto;
    }
}

@include media( '>medium' ) {

    .features-wrap {

        &:first-of-type {
            margin-top: -24px;
        }

        &:last-of-type {
            margin-bottom: -24px;
        }
    }

    .feature {
        padding: 32px 32px;
    }
}
