.hero-figure {
	position: relative;
	text-align: center;
	img {
		display: inline;
	}
	&-phew {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		img {
			height: auto;
			width: 80%;
			z-index: 2;
			margin: auto;
		}
	}
}

.hero {
	text-align: center;
	padding-top: 0;
	padding-bottom: 16px;
}
.hero {
	&-cta {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 16px;
		align-items: center;
		justify-content: center;
		.button {
			min-width: 170px;
			max-width: 100%;
		}
	}
	&-copy {
		position: relative; /* To display elements above hero illustrations */
		z-index: 1;
	}
	&-paragraph {
		font-size: 1.3rem;
		line-height: 2rem;
		padding-bottom: 1rem;
	}
}

@include media( '>medium' ) {

	.hero-figure {
		&-phew {
			img {
				display: inline-block;
				position: relative;
				width: 500px;
				height: auto;
				margin-left: 15px;
			}

		}
	}

	.hero {
		text-align: left;
        padding-top: 48px;
		padding-bottom: 88px;
	}

    .hero {
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-copy {
			padding-right: 40px;
			min-width: 545px;
			width: 545px;
		}
		&-cta {
			margin: 0 0 16px 0;
			.ios {
				margin-right: 10px;
			}
		}
    }
}
