
.hero-copy {
    position: relative; /* To display elements above hero illustrations */
	z-index: 1;
}

.hero-cta {
	margin-bottom: 40px;
}

.hero-figure {
	position: relative;
}

.hero-figure-stars {
	position: absolute;
	top: -3vh;
	img {
		height: auto;
		z-index: 1;
	}
}

.hero-figure-phone {
	img {
		height: auto;
		z-index: 2;
		top: 0;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform-origin: 100% 100%;
		}
	}
}

@include media( '<=medium' ) {

	.hero-cta {
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;

		.button {
			display: flex;

			+ .button {
				margin-top: 16px;
			}
		}
	}

	.hero-figure {
		text-align: center;
		img {
			display: inline;
		}
	}

	.hero-figure-phone {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		img {
			flex: 2;
		}
	}

	.hero-figure-stars {
		left: 0px;
		img {
			width: 130px;
		}
	}

	.hero {
		text-align: center;
		padding-top: 36px;
		padding-bottom: 16px;
	}
	

}

@include media( '>medium' ) {

	.hero-figure-stars {
		left: -10vw;
		img {
			width: 200px;
		}
	}

    .hero {
		text-align: left;
        padding-top: 48px;
        padding-bottom: 88px;
    }

	.hero-inner {
		/* Split hero in two half */
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

    .hero-copy {
		padding-right: 64px;
        min-width: 552px;
        width: 552px;
    }

	.hero-cta {
		margin: 0;

		.button {
			min-width: 170px;

			&:first-child {
				margin-right: 16px;
			}
		}
	}

	.hero-figure-phone {
		img {
			display: inline-block;
			position: relative;
			width: 200px;
		}
	}
}
